*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    background-color:white;
}

.main-heading{
    text-align: center;
    padding-bottom: -90px;
}

.heading{
    text-align: center;
    padding-top: 30px;
}
.img-gallery{
    width: 100%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap:30px;
    margin-top: 30px;
}
.img-gallery img {
    width:100%;
    cursor: pointer;
    transition: 0.4s;
}

.img-gallery img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 7px rgba(68,77);
}

.full-img{
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.full-img img{
    width: 90%;
    max-width: 500px;
}
.full-img span{
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}
.explore{
    border: none;
    margin-left: 18px;
    padding: 12px;
   cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    background-color:#DDC8AF;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.explore:hover{
    background-color:black;
    color:white;
}
