@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

/*navbar*/
header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    padding: 14px 1%;
    transition: all .50s ease;

}
.nav {
    padding:5px;
    width:100vw;
    background-color: #ffffff;
    height:20px;

}

.navbar-logo {
    
    width: 65px;
}


.navbar-title {
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 36px;
    font-weight: 700;
    
}

.span {
    color: #d941c8;
    font-size: 36px;
    font-family: "Poppins",sans-serif;
    font-weight: 500;
}

.navbar-nav {
    font-family: "Poppins",sans-serif;
    font-size: 16px;
    color: rgb(11, 8, 8);
}

.nav-button {
    height: 50px;
    width: 180px;
    border-radius: 22px;
    border-width: 0px;
    background-color: white;
    color: black;
    font-weight: bold;
    font-family: "Poppins",sans-serif;
    text-align: center;
}
.container{
    width: 90vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 120px;
}
.cards{
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.home{
    margin-top: 30px;
    margin:20px;
    background-color: var(--bg-color);
}
.head{
    text-align:center;
    font-family: "Poppins",sans-serif;
    padding-left: 550px;
    padding-bottom: 50px;
    color:#02132f;
    font-size: 100px;
    font-weight: bold;
}
.news{
    margin: 20px;
    
}

.news-h1{
    text-align: center;
    padding-left: 555px;
    padding-bottom: 50px;
    color: #100c35;
    font-size:2rem;
}



/*participants section*/
.banner-section-bg-container {
    background-image: url("part.jpg");
    height: 100vh;
    width:100vw;
}

.banner-heading {
    color: rgb(240, 238, 246);
    font-family: "Poppins",sans-serif;
    font-size: 60px;
    font-weight: 700;
}

.banner-caption {
    color: #f6f8fa;
    font-family: "Poppins",sans-serif;
    font-size: 40px;
    font-weight: 700;
}


.explore-menu-section {
    background-color: white;
}

.heading {
    color: #03243e;
    font-family: "Cambria";
    font-size: 50px;
    font-weight: 700;
}

.menu-item-image {
    border-radius: 20px;
}

.name {
    text-align: center;
    color: #183b56;
    font-family: "Poppins",sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 35px;
}

.menu-item-card{
    position: relative;
    background-color: #fff;
    width: 270px;
    height: 60vh;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 20px 40px;
    border-radius: 0px 30px;
    transition: all .5s ease;
}
.menu-item-card:hover{
    transform: translateY(-15px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}
.products-card-button {
    align-content: center;
    border-radius: 5px;
    background-color: #183b56;
    color: #ffffff;
    font-size: 15px;
    border-width: 0px;
    padding: 5px;
    width: 15vh;
    margin: 5px;
}

/* footer css*/
.footerrr{
    margin-top:45px;
    margin:20px;
    width:100%;
}
.footer{
    background-color: #24262d;
    padding: 70px 89px;
}
.container{
    max-width: 1170px;
    
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 15px;
}
ul{
    list-style: none;
}
.footer-col h4{
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
    
}
.underline{
    background-color: #ea1538;
    width: 60px;
    padding:1px;
    margin-top: -24px;
    margin-bottom: 35px;
    
}
/*.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}*/
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
font-size: 16px;
text-transform: capitalize;
color: #fff;
text-decoration: none;
font-weight:300;
color:#bbbbbb;
display: block;
transition: all 0.3s ease;

}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;

}
.footer-col .social-links a:hover{
    color:#24262b;
    background-color: #ffffff;
}



.footer-bottom{
        width: 100%;
        padding: 80px 28px 40px;
        
        text-align: center;
}

.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a{
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}
/*
@media screen and (max-width : 768px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width : 560px){
    .footer-col{
        width: 100%;
    }

    .product{
        width: 330px;
        height: 25%;
    }
    .containerr{
        margin-top: 600px;
    }
    #hero{
        margin-top: 97px;
    }
    #hero .contentbox h1{
        font-size: 56px;
    }
    .footer{
        margin-top: 730px;
    }
}
*/
@media screen and (max-width : 768px) {
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media(max-width : 411px){
    .footer-col{
        width: 100%;
    }
    .home{
        width:100px;
        height:80px;
    }
    .container{
        width:100px;
        height:100px;
    }
    .products{
        width:100px;
    }
    .product{
        width: 300px;
        height: 25%;
    }
    .containerr{
        margin-top: 600px;
    }
    #hero{
        margin-top: 97px;
    }
    #hero .contentbox h1{
        font-size: 56px;
    }
    .footer{
        margin-top: 730px;
    }
}

