.teams-section {
  margin-top: 100px;
}

.team-heading {
  text-align: center;
}

.profile-logo img {
  height: 150px;
  width: 150px;
  border-radius: 100px;
}

.team-card {
  border-radius: 12px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 5px;
  background-color: white;
  border-radius: 15px;
  width: 450px;
  display: flex;    
  justify-content: space-around;
  flex-shrink: 0;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 15px;
}

.profile-text-container {
  align-self: center;
  margin-left: 10px;
}
hr {
  width: 25px;
  background-color: aquamarine;    
}

.team-members {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.profile-text-container h1 {
  color: #37517e;
}

@media screen and (max-width:768px) {
  .team-card {
      margin: 10px;
      width: 300px;
      height: 125px;
  }
  .profile-logo {
      display: flex;
  }
  .profile-logo img {
      height: 70px;
      width: 70px;
      align-self: center;
  }
  .profile-text-container {
      text-align: left;
      flex-wrap: wrap;
  }
  .profile-text-container h1 {
      font-size: 18px;
  }
  .profile-text-container span {
      font-size: 11px;
  }
  #teams-section {
      margin-top: 15px;
  }
}

@media screen and (min-width:769px) {
  .profile-logo img {
      height: 100px;
      width: 100px;
      align-self: center;
  }
  .profile-logo {
      display: flex;
  }
  .team-card {
      height: 170px;
  }
  .profile-text-container h1 {
      font-size: 24px;
  }
  .profile-text-container {
      text-align: left;
  }
}